<div ng-controller="MyCtrl as ctrl" class="row">


  <div class="col-md-12">

    <div class="panel panel-default">
      <!--<div class="panel-heading"><h4>Step 1. Choose the type of population data (normal, uniform, skewed) </h4></div>-->

      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6"><p><h4>Dealer {{ctrl.baz}}</h4></p></div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <dealer-hand ng-model="ctrl.game"></dealer-hand>
            </div>
          </div>
          <form role="form">

            <div class="form-group">
              <span ng-repeat="button in ctrl.buttons.dealer">
                <button ng-class="{disabled: !start_switch}" ng-click="ctrl.buttonPress(button.who, $index)" type="submit" class="btn btn-primary disabled">
                  {{button.name}}
                </button>
              </span>

              <div class="dropdown" style="display:inline-block;">

                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Example Hands
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <li ng-repeat="hand in ctrl.custom_button.example_hands" ng-click="ctrl.setExampleHand($index)">
                    <a href="">{{hand.name}}</a></li>
                </ul>
              </div>

            </div>
    </div>

    </form>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4"><p><h4>Player (You)</h4></p></div>
        <div class="col-md-8 themessage"><p>

          <h2>{{message}}</h2></p></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <player-hand ng-model="ctrl.game"></player-hand>
        </div>
      </div>
      <form role="form">

        <div class="form-group">

           <span ng-repeat="button in ctrl.buttons.player">
            <button ng-class="{disabled: !start_switch}" ng-click="ctrl.buttonPress(button.who, $index)" type="submit" class="btn btn-primary">
              {{button.name}}
            </button>
          </span>

        </div>


      </form>
      <ul class="list-group">
        <li class="list-group-item">
          <probability-table/>
        </li>
        <li class="list-group-item">
          <desired-cards/>
        </li>
      </ul>
    </li>
    </ul>
  </div>
</div>

</div>

